/* FOR YOU */

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

.foryou__sub-title {
    color: #032b41;
    width: 40%;
}

/* RECOMMENDED & SUGGESTED BOOKS WRAPPER */

.foryou__books--wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    margin-bottom: 32px;
}

/* PROMPT WRAPPERS */

.prompt__books--block-wrapper {
        background-color: #f1f6f4;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px;
    border-radius: 12px;
    margin: 0 auto 56px;
    text-align: center;
}

.prompt__books--title {
    color: #042330;
    font-weight: 600;
    font-size: 18px;
}

.prompt__books--sub-title{
    color: #394547;
}