/* FOR YOU */

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

.foryou__sub-title {
    color: #032b41;
    width: 40%;
}

/* RECOMMENDED & SUGGESTED BOOKS WRAPPER */

.foryou__books--wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    margin-bottom: 32px;
}
