/* BOOK */

.inner__wrapper {
    display: flex;
    gap: 16px;
}

.inner__book {
    width: 100%;
}

.inner__book--author, .inner__book--title {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner__book--title {
    font-size: 32px;
}

.inner__book--sub-title {
    font-size: 20px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 300;
}

.inner__book--wrapper {
    border-top: 1px solid #e1e7ea;
    border-bottom: 1px solid #e1e7ea;
    padding: 16px 0;
    margin-bottom: 24px;
}

.inner__book--description--wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    row-gap: 12px;
}

.inner__book--description {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
}

.inner__book--icon {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    margin-right: 6px;
}

.inner__book--icon svg {
    width: 24px;
    height: 24px;
}

.inner__book--read-btn--wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.inner__book--read-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    background-color: #032b41;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    transition: opacity .2s;
}

.inner__book--read-btn:hover {
    opacity: 0.8;
}

.readbtn__icon {
    display: flex;
}

.readbtn__icon svg {
    width: 24px;
    height: 24px;
}

.inner__book--bookmark {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0365f2;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 18px;
    transition: color .2s;
}

.inner__book--bookmark-icon {
    display: flex;
    width: 20px;
    height: 20px;
}

.inner__book--secondary-title {
    font-size: 18px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}

.inner__book--description {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
}

.inner__book--author--description {
    color: #032b41;
    line-height: 1.5;
}

.inner__book--book--description{
    color: #032b41;
    margin-bottom: 16px;
    line-height: 1.5;
}

.inner__book--tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.inner__book--tag {
    background-color: #f1f6f4;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    color: #032b41;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color .2s;
}
